---
---

//
// IMPORTS
//

@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

/**************/
/* BASE RULES */
/**************/

body {width:100%; height: 100%; background-color: #FFF; font-family: $helvetica-normal;}

*{box-sizing: border-box;}

a{cursor: pointer;}

.grid{position: relative; width: 1320px; margin:0 auto;}
.full-grid{position: relative; width: 100%; margin:0 auto;}

.clear-fix{clear: both;}


.wrapper{float: left;width: 100%; padding: 0px 0px 50px;}

header{position: relative; height: 110px;}
.logo{float:left; width:250px;
  img{width:100%;}
}
nav {widht:100%; @include vertical_align;
  ul{text-align: right; padding: 0px; float: right;
    li{width: auto; display: inline-block; margin-left: 20px;}
    a{position:relative; overflow:hidden; font-size: 15px; font-weight:700; color: #000; @include transition(all 300ms ease); padding-bottom:3px; font-family:$helvetica-normal;
      &:hover{color:$active-pink;}
      &:before, &:after{content:''; position: absolute; bottom:0; width:0; height:2px; background-color: $active-pink;@include transition(all 500ms ease);}
      &:after{right:-2px;}
      &:before{left:-2px;}
      &:hover:before, &:hover:after{width:100%;}

    }
    .active-link{color:$active-pink;border-bottom:$active-pink;
      &:before, &:after{width:100%;}
    }
  }
}



.half-block-50{position:relative; float:left; width:50%;}


.banner{
  width: 100%;
    figcaption{p{width:600px / 1320px * 100%; margin:0 auto;}}
}


.image-holder{position: relative; float: left; margin-bottom:30px; overflow:hidden;
  &:nth-last-child(1){margin-bottom:0;}

  img{@include transition(all 300ms ease);}

  figcaption{position: absolute; top:-100%; left:-100%; width:100%; height:100%; z-index:2; padding:75px;background-color: black;

        @include opacity(0);
        @include transition(all 300ms ease, left 300ms, top 300ms, opacity 300ms);

      p{text-align:center; font-size:18px; font-weight:700; line-height:25px; @include vertical_align; top:65%;

        @include opacity(0);
        @include transition(all 300ms ease-in-out, top 400ms, opacity 600ms);

      }
  }

  .image-anim-holder{position: absolute;  bottom:0; left:0; width:100%; height:300px; background-color:transparent; overflow:hidden;}
    .image-anim-box{position: absolute; bottom:0; left:0; width:75px; height:75px; z-index:3;
      @include transition(all 300ms ease, bottom 300ms, margin-bottom 300ms);
      @include transition-delay(100ms);
    }
    &:hover{
      figcaption{top:0; left:0; @include opacity(1); @include transition-delay(300ms);
        p{top:50%; @include opacity(1); @include transition-delay(600ms);}
      }
      .image-anim-box{bottom:100%; margin-bottom:-75px;}
    }
}





.pink-box{
  figcaption{background-color:$active-pink;
    p{color:$blue-box-1;}
  }
  .image-anim-box{background-color:$blue-box-1;}
}

.blue-box-2{
  figcaption{background-color:$blue-box-2;
    p{color:$yellow-box;}
  }
  .image-anim-box{background-color:$yellow-box;}
}

.yellow-box{
  figcaption{background-color:$yellow-box;
    p{color:$blue-box-2;}
  }
  .image-anim-box{background-color:$blue-box-2;}
}

.blue-box-1{
  figcaption{background-color:$blue-box-1;
    p{color:$active-pink;}
  }
  .image-anim-box{background-color:$active-pink;}
}


.image-holder--text-holder{padding:30px 60px 60px; float:left; width:100%;
  h1{font-weight:700;}
  ul{display:inline-block;
    li{display:inline-block; width:100%; margin-bottom:45px;
      &:last-child{margin-bottom:0;}
      .falta{color:#ff0000;}
    }
  }
  p{color: $main-color; display:inline-block; line-height: 25px;
    span{color:$blue-num; font-size:24px; display:inline-block; margin-right: 5px; font-family: $helvetica-normal;}
  }
}

.left-half-block{
  .image-holder{float:right; margin-right:30px;}
}
.right-half-block{
  .image-holder:first-child{margin-top:30px;}
}


.full-block{position: relative; width: 100%; float:left;

  &:nth-of-type(2){
    .half-block-50{padding:0px 30px 60px;}
    h1{font-size:50px; color: $active-pink; font-family:$helvetica-normal; font-weight: 700; margin-bottom:10px;}
    p{font-size:26px;  font-family:$helvetica-normal;font-weight: 700; margin-bottom:5px; }
  }

  .image-holder--text-holder{padding: 30px 0px 0px 30px;
    h1{color: #90b5ed;font-size: 50px;}

  }

  .half-block-50{padding:30px 30px 60px;
    .image-holder--text-holder{padding:0;
      p{margin-bottom: 45px;
        &:last-child{margin-bottom: 0;}
      }
    }
  }

}


.press-page{

  .half-block-50{width:49%;

      img{width: 100%;}

  }

  .image-holder{ margin:0 0 60px 0;
    &:last-child{margin:0;}
    h1{color:$blue-box-2; font-size: 40px; margin-bottom:40px; font-weight: 700;}
  }
  .image-holder:nth-child(even){
    h1{color:$blue-box-2;}
  }

  .image-holder--text-holder{padding: 65px; min-height:400px; background-color:white;

    &{
      :before, :after{content:''; position: absolute; bottom:0; left:0; z-index:2;background-color:$yellow-box;}
      :before{height:90px; width: 13px;}
      :after{height:13px; width: 90px;}
    }
  }
  .banner{
      .image-holder--text-holder{position: absolute; bottom:0; left:0; width:645px; min-height:250px;
          &{
          :before, :after{background-color:$blue-box-1;}
          h1{color:$active-pink;}
        }
      }
  }

  .left-half-block{margin-right:2%;

    .image-holder:nth-child(even){
      h1{color:$active-pink;}

      .image-holder--text-holder{
        &{
          :before, :after{background-color:$blue-box-1;}
        }
      }
    }
  }

  .right-half-block{

    .image-holder:first-child{margin-top:0px;}

    .image-holder:nth-child(odd){
      h1{color:$active-pink;}

      .image-holder--text-holder{
        &{
          :before, :after{background-color:$blue-box-1;}
        }
      }
    }
  }


}


 /* ------------------------------------ *\

                  FOOTER

 \* ------------------------------------ */

footer{float: left; width: 100%; background-color: $footer-background; color: black; margin-top:60px; height: 90px; text-align: left; padding: 0 30px;

  .copyright{ position: relative; float:left;@include vertical_align; font-size:14px;
    p{float:left; margin-right:5px;}
    span{font-family: $helvetica-normal; font-weight:700; float: left;}
  }

  .social-links{position: relative; float: right; height:90px;
    li{ float: left; margin-left:10px; @include vertical_align;
      &:first-child{margin-left:0;}
    }
    .social-icon{float: left;width: 35px; height: 33px; @include transition(all 300ms ease); overflow: hidden;
      a{@include transition(all 300ms ease); display:block;
        span{@include transition(all 300ms ease);}
      }
      //.facebook-hover{color:#3b5998; }
      //.insta-hover{color:#517fa4;}
      &:hover{
        a{
          span.icon-facebook-circle{color:#3b5998;}
          span.icon-instagram-circle{color:#517fa4;}
        }


      }
    }

    // facebook color -   insta -
    /*
    .icon-facebook{background-position: 0 -49px;
      &:hover{background-position: 0 0px;}
    }
    .icon-twitter{background-position: -40px -49px;
      &:hover{background-position: -40px 0px;}
    }
    .icon-youtube{background-position: -80px -49px;
      &:hover{background-position: -80px 0px;}
    }
    */
  }
}




 /* ------------------------------------ *\

              MEDIA QUERIES

 \* ------------------------------------ */


  /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1280px) {
      .grid{width:1170px; @include transition(all 300ms ease);}
      img{width:100%; max-width:100%;}
    }

    @media only screen and (max-width : 1170px) {
      .grid{width:1000px;}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .grid{width:100%; padding:0px 30px;}
      .banner{
          figcaption{p{width:70%; margin:0 auto;}}
      }

      .image-holder--text-holder{

        &:nth-last-child(1){padding:30px 60px 0;}

        ul{
          li{margin-bottom: 15px;}
        }
      }
      .full-block:nth-of-type(2) {
        h1{font-size:45px;}
        p{font-size: 22px;}
      }

      footer{margin-top:60px;}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
