@font-face {
    font-family: 'HelveticaBQBold';
    src: url('HelveticaBQBold.eot');
    src: url('HelveticaBQBold.eot') format('embedded-opentype'),
         url('HelveticaBQBold.woff2') format('woff2'),
         url('HelveticaBQBold.woff') format('woff'),
         url('HelveticaBQBold.ttf') format('truetype'),
         url('HelveticaBQBold.svg#HelveticaBQBold') format('svg');
}

@font-face {
    font-family: 'HelveticaBQLight';
    src: url('HelveticaBQLight.eot');
    src: url('HelveticaBQLight.eot') format('embedded-opentype'),
         url('HelveticaBQLight.woff2') format('woff2'),
         url('HelveticaBQLight.woff') format('woff'),
         url('HelveticaBQLight.ttf') format('truetype'),
         url('HelveticaBQLight.svg#HelveticaBQLight') format('svg');
}

