@font-face {
    font-family: 'HelveticaBQBold';
    src: url('font/HelveticaBQBold.eot');
    src: url('font/HelveticaBQBold.eot') format('embedded-opentype'),
         url('font/HelveticaBQBold.woff2') format('woff2'),
         url('font/HelveticaBQBold.woff') format('woff'),
         url('font/HelveticaBQBold.ttf') format('truetype'),
         url('font/HelveticaBQBold.svg#HelveticaBQBold') format('svg');
}

@font-face {
    font-family: 'HelveticaBQLight';
    src: url('font/HelveticaBQLight.eot');
    src: url('font/HelveticaBQLight.eot') format('embedded-opentype'),
         url('font/HelveticaBQLight.woff2') format('woff2'),
         url('font/HelveticaBQLight.woff') format('woff'),
         url('font/HelveticaBQLight.ttf') format('truetype'),
         url('font/HelveticaBQLight.svg#HelveticaBQLight') format('svg');
}

