//
// VARIABLES
//

$active-pink: #ffa4a8;
$blue-num: #9dc7ff;
$main-color: #d9d9d9;
$footer-background: #afffe6;

$blue-box-1: #aeffe5;
$blue-box-2: #99bffc;
$yellow-box: #fff59f;

$helvetica-bold: 'HelveticaBQBold', sans-serif;
$helvetica-light: 'HelveticaBQLight', sans-serif;
